@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 100vw;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #71c7f1;
}

.logo {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  padding: 9px 25px;
  background-color: rgb(42, 112, 170);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
  color: #fff;
}
.cta2 {
  padding: 9px 25px;
  background-color: rgb(42, 112, 170);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease 0s;
}

.cta2:hover {
  background-color: rgba(0, 136, 169, 0.8);
  color: #fff;
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #71c7f1;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('https://res.cloudinary.com/husseincloud/image/upload/v1653661523/ln0fqdgxpud6eye7rybm.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image .hero-text {
  color: #fff;
  text-align: center;
}

.hero-image .hero-text h1 {
  font-size: 50px;
  font-weight: 500;
}

.hero-image .hero-text p {
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
}

.hero-image .hero-btn {
  text-decoration: none;
  color: #fff;
  background: #000;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
}

.hero-image .hero-btn:hover {
  background: #fff;
  color: #000;
}

.pro-h1 {
  max-width: 300px;
  margin: 20px auto;
  margin-top: 60px;
  text-align: center;
}

.all-pro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.pro {
  max-width: 30%;
  padding: 10px;
  border: 1px solid #6e6e6e;
  margin-top: 40px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}
.pro:hover {
  transform: scale(1.04);
  box-shadow: 0 3px 6px rgba(154, 160, 185, 0.4), 0 10px 30px rgba(0, 0, 0, 0.6);
}
.div-img {
  /* max-height: 200px; */
  overflow: hidden;
}
.pro-img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .all-pro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}

.pro-title {
  text-transform: capitalize;
  margin: 10px 0;
}

.div-btn {
  max-width: 40%;
  margin: 0 auto;
}

.pro-btn {
  background: #6bbff7;
  background-image: -webkit-linear-gradient(top, #6bbff7, #51baf7);
  background-image: -moz-linear-gradient(top, #6bbff7, #51baf7);
  background-image: -ms-linear-gradient(top, #6bbff7, #51baf7);
  background-image: -o-linear-gradient(top, #6bbff7, #51baf7);
  background-image: linear-gradient(to bottom, #6bbff7, #51baf7);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.pro-btn:hover {
  background: #00a2ff;
  background-image: -webkit-linear-gradient(top, #00a2ff, #00a2ff);
  background-image: -moz-linear-gradient(top, #00a2ff, #00a2ff);
  background-image: -ms-linear-gradient(top, #00a2ff, #00a2ff);
  background-image: -o-linear-gradient(top, #00a2ff, #00a2ff);
  background-image: linear-gradient(to bottom, #00a2ff, #00a2ff);
  text-decoration: none;
}

/* //Vars  */
:root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #539ef3;
  --font-fam: 'Lato', sans-serif;
  --height: 2.5rem;
  --btn-width: 3rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

/* // Main styles */
form {
  position: relative;
  width: 20rem;
  background: var(--color-brand);
  border-radius: var(--rad);
}
input,
.form-btn {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.1rem;
}
input[type='search'] {
  outline: 0; /* // <-- shold probably remove this for better accessibility, adding for demo aesthetics for now. */
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none; /*  //for iOS input[type="search"] roundedness issue. border-radius alone doesn't work */
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
.form-btn {
  /* display: none;  // prevent being able to tab to it */
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
  color: #ffffff;
}
input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}
label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.profile-info {
  max-width: 70%;
  margin: 50px auto;
  display: flex;
  padding: 20px 50px;
}

.profile-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-content {
  margin-left: 40px;
}

.profile-content h1 {
  margin-bottom: 10px;
}

.upload-post form {
  background-color: white;
  max-width: 70%;
  margin: 50px auto;
  border: 1px solid #a3a3ac;
  padding: 20px;
  box-shadow: 0 5px 5px rgba(154, 160, 185, 0.5), 0 10px 20px rgba(0, 0, 0, 0.8);
}

.title {
  border: 1px solid black;
  border-radius: 15px;
  width: 90%;
  padding: 20px;
  margin: 10px 0;
}

.des {
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.upload-btn {
  background: #6bbff7;
  background-image: -webkit-linear-gradient(top, #6bbff7, #51baf7);
  background-image: -moz-linear-gradient(top, #6bbff7, #51baf7);
  background-image: -ms-linear-gradient(top, #6bbff7, #51baf7);
  background-image: -o-linear-gradient(top, #6bbff7, #51baf7);
  background-image: linear-gradient(to bottom, #6bbff7, #51baf7);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  border: none;
  text-decoration: none;
}

.upload-btn:hover {
  background: #00a2ff;
  background-image: -webkit-linear-gradient(top, #00a2ff, #00a2ff);
  background-image: -moz-linear-gradient(top, #00a2ff, #00a2ff);
  background-image: -ms-linear-gradient(top, #00a2ff, #00a2ff);
  background-image: -o-linear-gradient(top, #00a2ff, #00a2ff);
  background-image: linear-gradient(to bottom, #00a2ff, #00a2ff);
  text-decoration: none;
  border: none;
}

.cancel-btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #ff1b5f;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

.cancel-btn:hover {
  background: #ff1010;
  text-decoration: none;
  border: none;
}

.post-cont {
  max-width: 1000px;
  margin: 40px auto;
}

.post-user-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.post-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.post-username {
  font-weight: bolder;
  font-style: italic;
  margin-left: 10px;
}

.img-div img {
  max-width: 90%;
  /* max-height: 750px; */
  object-fit: cover;
  border-radius: 20px;
}

.live-link {
  color: #000;
  font-size: 20px;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 10px;
}

.live-link a {
  text-decoration: none;
  color: rgb(33, 132, 199);
  font-size: 15px;
}
.post-title {
  text-transform: capitalize;
  margin: 10px 0;
}

.post-des {
  line-height: 30px;
}

.comment-div {
  background-color: #f5f5f5;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
}

.com-user {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.com-user span {
  margin-left: 10px;
  font-style: italic;
}

.com-user img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.each-comment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rate {
  max-width: 90%;
  margin: 20px auto;
  user-select: none;
}

.form-comment {
  background-color: white;
}
.rate-info {
  color: black;
}

.form-comment textarea {
  padding: 20px;
  margin: 10px auto;
  border-radius: 20px;
}

.com-btn {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  display: block;
  background: #409fed;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.com-btn:hover {
  background: #3cb4fa;
  text-decoration: none;
  border: none;
}

.star {
  font-size: 1.8rem;
  color: #ff9800;
  background-color: unset;
  border: none;
}

.star:hover {
  cursor: pointer;
}
