{% extends 'base.html' %} {% block content %}

<div class="hero-image">
 <div class="hero-text">
  <h1>I am Hussein Omar</h1>
  <p>And I'm a full stack Developer</p>
  <!-- <p>Lagos Nigeria</p>
  <a href="#" class="hero-btn">Hire Me</a> -->
 </div>
</div>

<div class="pro-h1">
 <h2>All Projects</h2>
</div>

<div class="all-pro">
 <div class="pro">
  <div class="div-img">
   <img class="pro-img" src="https://res.cloudinary.com/husseincloud/image/upload/v1654426724/shp6tuxvmuki7dduqfsm.jpg"
    alt="">
  </div>
  <h2>lorem 5</h2>
  <p>lorem 20</p>
  <button>view</button>
 </div>
 <div class="pro">
  <div class="div-img">
   <img class="pro-img" src="https://res.cloudinary.com/husseincloud/image/upload/v1654426724/shp6tuxvmuki7dduqfsm.jpg"
    alt="">
  </div>
  <h2>lorem 5</h2>
  <p>lorem 20</p>
  <button>view</button>
 </div>
 <div class="pro">
  <div class="div-img">
   <img class="pro-img" src="https://res.cloudinary.com/husseincloud/image/upload/v1654426724/shp6tuxvmuki7dduqfsm.jpg"
    alt="">
  </div>
  <h2>lorem 5</h2>
  <p>lorem 20</p>
  <button>view</button>
 </div>
 <div class="pro">
  <div class="div-img">
   <img class="pro-img" src="https://res.cloudinary.com/husseincloud/image/upload/v1654426724/shp6tuxvmuki7dduqfsm.jpg"
    alt="">
  </div>
  <h2>lorem 5</h2>
  <p>lorem 20</p>
  <button>view</button>
 </div>

</div>

{% endblock content %}