{% extends 'base.html' %} {% block content %}
<div class="post-cont">
  <div class="post-user">
    <img class="post-user-img" src="{{post.user.image.url}}" alt="">
    <span class="post-username">@{{post.user.username}}</span>
  </div>
  <div class="img-div">
    <img src="{{post.image.url}}" alt="">
  </div>
  <h1 class="post-title">{{post.title}}. <span class="live-link"><a href="{{post.url}}" target="_blank">Live
        Link</a></span></h1>
  <p class="post-des">{{post.feedback}}</p>

  <div class="rate">
    <div class="rate-info">
      <h3>Rate this project</h3>
      <button class="star">&#9734</button>
      <button class="star">&#9734</button>
      <button class="star">&#9734</button>
      <button class="star">&#9734</button>
      <button class="star">&#9734</button>

      <p class="star-count">0 of 5</p>
    </div>
    <form class="form-comment" action="" method="POST">
      {% csrf_token %}
      <input type="text" name="rate" id="rate" style="display: none;" value="0">
      <textarea name="feedback" id="" cols="30" rows="6" placeholder="Feedback" required></textarea>
      <button class="com-btn" type="submit">Submit</button>
    </form>
  </div>

  <div class="comment-div">
    {% for rating in rating_info %}


    <div class="each-comment" style="margin: 20px;">
      <div class="com-user">
        <img src="{{rating.user.image.url}}" alt="" srcset="">
      </div>
      <div class="com-body" style="margin-left: 10px;">
        <h4>@{{rating.user.username}}</h4>
        <h5 style="margin: 5px;">{{rating.stars}} stars</h5>
        <p>{{rating.body}}</p>
      </div>
    </div>
    {% endfor %}


  </div>
</div>

{% endblock content %}