{% extends 'base.html' %} {% block content %}
<div class="post-cont">
  <div class="post-user">
    <img class="post-user-img" src="{{post.user.image.url}}" alt="">
    <span class="post-username">@{{post.user.username}}</span>
  </div>
  <div class="img-div">
    <img src="{{post.image.url}}" alt="">
  </div>
  <h1 class="post-title">{{post.title}}. <span class="live-link"><a href="{{post.url}}" target="_blank">Live
        Link</a></span></h1>
  <p class="post-des">{{post.feedback}}</p>

  <div class="rate">
    <div class="rate-info">
      <h3>Rate this project</h3>
      <button class="star">&#9734</button>
      <button class="star">&#9734</button>
      <button class="star">&#9734</button>
      <button class="star">&#9734</button>
      <button class="star">&#9734</button>

      <p class="star-count">0 of 5</p>
    </div>
    <form class="form-comment" action="" method="POST">
      {% csrf_token %}
      <input type="text" name="rate" id="rate" style="display: none;" value="0">
      <textarea name="feedback" id="" cols="30" rows="6" placeholder="Feedback" required></textarea>
      <button class="com-btn" type="submit">Submit</button>
    </form>
  </div>

  <div class="comment-div">

    <div class="each-comment" style="margin: 20px;">
      <div class="com-user">
        <img src="https://res.cloudinary.com/husseincloud/image/upload/v1654495563/e1wyraw7biniqrkupbzq.jpg" alt=""
          srcset="">
      </div>
      <div class="com-body" style="margin-left: 10px;">
        <h4>@hussein</h4>
        <h5 style="margin: 5px;">5 stars</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, ratione?</p>
      </div>
    </div>
    <div class="each-comment" style="margin: 20px;">
      <div class="com-user">
        <img src="https://res.cloudinary.com/husseincloud/image/upload/v1654495563/e1wyraw7biniqrkupbzq.jpg" alt=""
          srcset="">
      </div>
      <div class="com-body" style="margin-left: 10px;">
        <h4>@hussein</h4>
        <h5 style="margin: 5px;">5 stars</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, ratione?</p>
      </div>
    </div>
    <div class="each-comment" style="margin: 20px;">
      <div class="com-user">
        <img src="https://res.cloudinary.com/husseincloud/image/upload/v1654495563/e1wyraw7biniqrkupbzq.jpg" alt=""
          srcset="">
      </div>
      <div class="com-body" style="margin-left: 10px;">
        <h4>@hussein</h4>
        <h5 style="margin: 5px;">5 stars</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, ratione?</p>
      </div>
    </div>


  </div>
</div>

{% endblock content %}