{% extends 'base.html' %}
{% block content %}
<div class="profile-info">
 <div class="profile-img">
  <img src="https://res.cloudinary.com/husseincloud/image/upload/v1654495563/e1wyraw7biniqrkupbzq.jpg" alt="">
 </div>
 <div class="profile-content">
  <h1>@hussein</h1>
  <p>bio Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque repellendus consectetur possimus enim aut
   molestiae laborum dolorum vitae eum magni.</p>
 </div>
</div>

<div class="pro-h1">
 <h2>All Projects</h2>
</div>

<div class="all-pro">
 <div class="pro">
  <div class="div-img">
   <img class="pro-img" src="https://res.cloudinary.com/husseincloud/image/upload/v1654426724/shp6tuxvmuki7dduqfsm.jpg"
    alt="">
  </div>
  <h2 class="pro-title">Lorem ipsum dolor sit amet.</h2>
  <p class="pro-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos magnam maiores pariatur soluta
   optio. Corporis cum
   totam soluta facilis ut!</p>
  <div class="div-btn">
   <button class="pro-btn">Vote</button>
  </div>
 </div>
 <div class="pro">
  <div class="div-img">
   <img class="pro-img" src="https://res.cloudinary.com/husseincloud/image/upload/v1654426724/shp6tuxvmuki7dduqfsm.jpg"
    alt="">
  </div>
  <h2 class="pro-title">Lorem ipsum dolor sit amet.</h2>
  <p class="pro-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos magnam maiores pariatur soluta
   optio. Corporis cum
   totam soluta facilis ut!</p>
  <div class="div-btn">
   <button class="pro-btn">Vote</button>
  </div>
 </div>
 <div class="pro">
  <div class="div-img">
   <img class="pro-img" src="https://res.cloudinary.com/husseincloud/image/upload/v1654426724/shp6tuxvmuki7dduqfsm.jpg"
    alt="">
  </div>
  <h2 class="pro-title">Lorem ipsum dolor sit amet.</h2>
  <p class="pro-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos magnam maiores pariatur soluta
   optio. Corporis cum
   totam soluta facilis ut!</p>
  <div class="div-btn">
   <button class="pro-btn">Vote</button>
  </div>
 </div>




</div>

{% endblock content %}